<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Natoon Network - Africa.</h1>
    <h2>Journey through a rich Tapestry of African Cultures</h2>
    <button><a href="/register">Register</a></button>
    <button><a href="/login">Login</a></button>
</body>
</html>