<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage-Natoon Network-Africa</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>
    <div class="introduction">
        <h1>Welcome to Natoon Network - Africa <%= name %>.</h1>
        <h2>Journey through a rich Tapestry of African Cultures.</h2>
    </div>
</body>
</html>
